.salemlogo
{
    height: 95px;
    width: 125px;
    padding: 0;
    margin: -25px -25px -25px 0px;
}

html{
    font-size: 120%;
}


.snbsermon{
    width: 80% !important;
    
}

.snbsermon *{
    margin:unset;
    padding: unset;
}

.snbsermon i{
    color: var(--yellow);
}

.snbsermon:hover{
    cursor: pointer;
}


select option{
    text-align: center;
}


.hover-text-yellow:hover
{
    color:var(--yellow);
}

